*{
    border: 1px solid blueviolet;
    margin: 0;
    color: white;
    box-sizing: border-box;
}

html{
    background-color: #101010;
}

#title-sect{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title{
    font-size: 3em;
}

#title-desc{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}


#head-img{
    margin: 1% 2% 1%;
    width: 16%;
}

#zombies-logo{
    width: 100%;
    aspect-ratio: 2/1;
    /* border-radius: 40px; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar{
    width: 20%;
    margin-right: 2%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    list-style-type: none;
}


#waw-container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #204063;
}

#waw-title{
    font-size: 2.5rem;
}

#waw-tagline{
    margin-top: 1.5%;
    font-size: 1.4em;
    font-style: italic;
}

#waw-maps-desc-container{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
}

#waw-maps{
    width: 30%;
    align-self: flex-start;
    margin-left: 5%;
}

.waw-grid-container{
    display: grid;
    padding: 20px;
    margin-top: 20%;
}

.waw-grid-item {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    margin: 3%;
}

#waw-img{
    width: 40%;
    text-align: center;
    margin-left: 10%;
    background-image: url(https://i.ytimg.com/vi/m_NCSxNaIjg/maxresdefault.jpg);
    background-size: cover;
    border-radius: 25px;
}

#waw-maps-desc{
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  font-size: xx-large;
}

#waw-maps-desc > p{
    padding: 50% 0;
    color: white;
    width: 100%;
    height: 100%;
}


@media (max-width: 1200px){
    .waw-grid-item{
        font-size: 20px
      }
}

@media (max-width: 900px){
  *{
    font-size: 0.8rem;
  }
  
  li{
    padding: 5px;
  }
  
  html{
    width: 100vw;
  }
  
  .waw-grid-item{
    font-size: 14px
  }
  
}

@media (max-width: 600px){

    .waw-grid-item{
        font-size: 10px
      }

}
